
#q-app {
    background-color: #f7f8fa;
}
#loader-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #165dff;
    border-radius: 50%;
    animation: borderScale 1.8s infinite ease-in-out;
}

#loadingText {
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

@keyframes borderScale {
    0% {
        border: 5px solid white;
    }
    50% {
        border: 25px solid #165dff;
    }
    100% {
        border: 5px solid white;
    }
}
